<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        The Art of Woodworking, Rooted in Craftsmanship and Respect for Nature. </h3> 
        <p>
            Welcome to TeakTales, I am an aspiring woodworker and a software engineer by profession. With a deep admiration for artisans and the intimacy of handmade craftsmanship, I'm weaving my way through the world of woodworking, drawing on the wisdom of traditional techniques and the unique challenges of tropical climates.
        </p>
        <p>
            Join me on this journey of discovery as we delve into the intricacies of woodworking in the tropics, getting to know the diverse wood species native to Thailand, and building pieces imbued with respect for the materials and the spirit of traditional craftsmanship.
        </p>
        <p>
            Here, each project is more than just a piece of furniture. It's a story of a tree, a testament to the skills of the artisan, and a tribute to the time-honored techniques that bring the beauty of wood to life. It's not about mass production, but about the individual piece and the journey of its creation.
        </p>
        <p>
            Let's <a href="{{'/notes' | relative_url}}">unravel the wonders of woodworking together</a> and craft tales that will stand the test of time.
        </p>
</div> </div>
