<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        A Digital Garden of Woodworking Wonders. </h3> 
        <p>
            Welcome to TeakTales, a platform dedicated to the art of woodworking in Southeast Asia. 
        </p>
        <p>
            Join me, a passionate novice and software engineer with a deep admiration for artisans and handmade craftsmanship, as we embark on a journey of learning together. 
        </p>
        <p>
            Here, we explore topics such as the specificities of <a href="/note/Tropical-Climate">woodworking in tropical climates</a>, and the <a href="/note/Wood-Species">various wood species found in Thailand</a>. 
        </p>
        <p>
                Let's <a href="{{'/notes' | relative_url}}">dive into the world of woodworking</a> and unravel its wonders at TeakTales.com.
            </p>
        
</div> </div>

